<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form class="form-horizontal" th:action="@{resolver}" th:object="${calc}">
		<fieldset>
			<legend>Calculadora</legend>
			<div class="form-group">
				<label class="col-md-4 control-label" for="number1">Numero 1</label>
				<div>
					<input class="form-control input-md" id="number1" name="number1" th:field="*{number1}" type="number" placeholder="Introduce un numero">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="number1">Operador</label>
				<div>
					+<input class="form-control input-md" id="sum" name="sum" th:field="*{ope}" value="+" type="radio" checked>
					-<input class="form-control input-md" id="min" name="min" th:field="*{ope}" value="-" type="radio">
					*<input class="form-control input-md" id="por" name="por" th:field="*{ope}" value="*" type="radio">
					/<input class="form-control input-md" id="div" name="div" th:field="*{ope}" value="/" type="radio">
				</div>
			</div>
			<div class="form-group">
					<label class="col-md-4 control-label" for="number2">Numero 2</label>
					<div>
						<input class="form-control input-md" id="number2" name="number2" th:field="*{number2}" type="number" placeholder="Introduce un numero">
					</div>
				</div>		

				<button>Resolver</button>

		<span th:text="${result}"></span>

		</fieldset>

	</form>
</body>
</html>